* {
    box-sizing: border-box;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.menu {
    padding: 2rem 10px 0px 10px;

}
li {
 list-style: none;
 padding: 0rem .8rem;
}

.grid-img {
    height: 20px;
    width: 20px;


}

.sign-in {
    display: block;
    background:#0d94ff;
    padding:.8rem 1rem;
    color: white;
    margin: -.6rem;


}
.leftnav {
    float: left;

}

.rightnav {
    float: right;
}


.content {
    text-align: center;
}

.logo-container {
    padding: 40px;

}
.logo {
    width: 300px;
    padding-top: 100px;
    position: relative;
    left: 10px;
}

.searchbar-container {
    width: 580px;
    height: 80px;
    text-align: center;
    margin: auto;

}
 
.googlesearch {
    width: 100%;
    height: 50%;
}


.buttonsearch {
    padding: 15px 5px 15px 5px;
    margin: 20px;
    text-align: center;
}










input {
    border-radius: 20px;

}

button {
    background: #9e9e9e12;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.footernav {
    padding: 0px 10px 30px 10px;

}

.leftfooter {
    float: left;
}

.rightfooter {
    float: right;
}

